body{
    background: #fff;
    margin: 0px; 
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.btn {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
     margin-top: 10%;
}
.btn.edit {
    background-color: #28a745;
}
.btn.delete {
    background-color: #dc3545;
}

.container {
    position: absolute;
    top: 35%;
    display: flex;
    left:12%;
}

.container input[type="button"] {
    margin-right: 20px; /* Adjust the space between buttons by changing this value */
    height: 200px; /* Set the height of the buttons */
    width: 30%;
    font-size: 30px;
    border: solid #3050A8;
    background-color: #3050A8;
    color: white;
    border-radius: 10px; 
}

.title{
    position: absolute;
    top:20%;
    left:45%;
}

.tabel{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 30%;
    width: 80%;
}

.invoervelden{
    position: absolute;
    left:40%;
    top:20%;
}

.edituser{
    position: absolute;
    left: 37%;
    top: 10%;
}

.buttonsubmit{
    position: absolute ;
    top: 110%;
    left: 27%;
    align-items: center;
    border: solid #3050A8;
    background-color: #3050A8;
    color: white;
    border-radius: 10px; 
    width: 50%;
    height: 20%;
}

.button {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: black; /* Change color as needed */
    cursor: pointer;
    text-decoration: underline; /* Optional: Add underline effect */
    left: 1.5%;
}

.tabel2{
    position: absolute;
    top: 25%;
    left: 10%;
    height: 30%;
    width: 80%;     
}

.editproduct{
    position: absolute;
    left: 40%;
    top: 17%;
}

.knopedit{
    background-color: #198754;
    border: #198754 solid	3px;
    border-radius: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;

}

.knopdelete{
    background-color: red;
    border: red solid 3px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

.knopdelete:hover{
    color: #fff;
    text-decoration: none;
}

.knopedit:hover{
    color: #fff;
    text-decoration: none;
}

.past-date td {
    background-color:  #777; /* Gray color */
}

#popupBar {
    position: absolute;
    z-index: 9999; /* Ensure popup appears above other content */
    top: 0%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translateX(-50%);
    width: 100%; /* Adjust as needed */
  } 