body {
  background-image: url("../assets/background.png");
  background-color: white;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0px;
  }

.d-flex {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 75vh;
    left:30%;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
.fw-normal{
    position: relative;
    color: black;
    text-align: center;
    font-size: 40px;
}

.btn {
    position: absolute;
    background-color: #103E7E;
    left: 40%;
    color: white;
    border: none;
    transition: 0.2s;
}

.form-label {
    margin-top: -0.5rem;
    margin-left: 0.25rem;
    padding: 0 0.5rem;
    background-color: white;
    color: gray;
  }

  .btn1 {
    background-color: #103E7E;
    border: none;
    bottom: 10%;
  }

  .btn:hover{
    color: white;
    background-color: #3050A8; 
  }
  
    #popupBar {
      position: absolute;
      z-index: 9999; /* Ensure popup appears above other content */
      top: 0%; /* Adjust as needed */
      left: 50%; /* Adjust as needed */
      transform: translateX(-50%);
      width: 100%; /* Adjust as needed */
    }
    

