body{
    margin: 0px;
}



.knop1 {
    color: white;
    background-color: #103E7E;
    border: solid #103E7E;
    border-radius: 10px;
    height: 5vh;
    width: 10%;
    transition: 0.2s;
}

.knop1:hover {
    color: white;
    background-color: #3050A8;
    border: solid #3050A8;
}