body {
  margin: 0px;
}

.d-flex {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f5f5f5;
  left: 35%;
}

.d-flex1 {
  position: relative;
  left: 50%;
}

.pt-12 {
  position: absolute;
  left: 40%;
  bottom: 10%;
}

.password-input {
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right: none;
}

.password-toggle-btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: none;
  border-radius: 0.375rem;
  margin-left: -1px;
}

.form-label {
  margin-top: -0.5rem;
  margin-left: 0.25rem;
  padding: 0 0.5rem;
  background-color: white;
  color: gray;
}

.btn {
  background-color: #103E7E;
  color: white;
  border: #103E7E;
  border-radius: 10px;
  transition: 0.2s;
}

.btn:hover{
  color: white;
  background-color: #3050A8; 
}


.link {
  color: #103E7E;
}

.link:hover {
  color: #3050A8;
}
