body{
    margin: 0px;
}

.tekst1{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 50px;
    color: black;
    font-family: 'Lobster', cursive;
}

.tekst2{
    position: absolute;
    top: 30%;
    left: 27%;
    color: black;
    text-align: center;    
}

.tekst3{
    position: absolute;
    top: 50%;
    left: 45%;
    color: black;
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: 'Lobster', cursive;    
}

.tekst4{
    position: absolute;
    top: 60%;
    left: 27%;
    color: black;
    text-align: center;    
}

.tekst5{
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 50px;
    color: black;
    font-family: 'Lobster', cursive;
}

.gegevens{
    position: absolute;
    top: 85%;
    left: 43%;
    color: black;
    text-align: center;    
}

